
member_resumes_metadata.json
resume_hash_manifest.json
resume_index.faiss
config.json


viva/
venv/
env/
ml/

.env
__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/

.DS_Store
.AppleDouble
.LSOverride

.vscode/
.idea/
*.swp
*.swo

venv/
.venv/
env/
.env/
*.pyc
__pycache__/
.idea/
.vscode/

plan.md

