# TalentLens Artifacts
# We want to commit these for Streamlit Cloud
!data/artifacts/
!data/configs/
!data/artifacts/*
!data/configs/*

# Exclude large raw datasets
data/resume-dataset/
data/discord/
data/reddit/
data/Resumes PDF/
data/processed/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
.env
.env.local

# IDEs
.vscode/
.idea/
.DS_Store
.ipynb_checkpoints/

# Project Specific
viva/
plan.md
test_output.pdf
